<%= form_with(model: assessment) do |form| %>
  <% if assessment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
        <% assessment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :assessed_on, style: "display: block" %>
    <%= form.date_field :assessed_on %>
  </div>

  <div>
    <%= form.label :assessment_level_id, style: "display: block" %>
    <%= collection_select(:assessment, :assessment_level_id, AssessmentLevel.all.order(:level), :id, :level, include_blank: true) %>
  </div>

  <div>
    <%= form.label :assessee_id, style: "display: block" %>
    <%= collection_select(:assessment, :assessee_id, Contact.all.order(:first_name), :id, :display_name, include_blank: true) %>
  </div>

  <div>
    <%= form.label :assessor_id, style: "display: block" %>
    <%= collection_select(:assessment, :assessor_id, Contact.all.order(:first_name), :id, :display_name, include_blank: true) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
