<%= form_with(model: assessment) do |assessment_form| %>
  <% if assessment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
        <% assessment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= assessment_form.label :assessed_on, style: "display: block" %>
    <%= assessment_form.date_field :assessed_on %>
  </div>

  <div>
    <%= assessment_form.label :assessment_level_id, style: "display: block" %>
    <%= collection_select(:assessment, :assessment_level_id, AssessmentLevel.all.order(:level), :id, :level, include_blank: true) %>
  </div>

  <div>
    <br><strong>THIS IS BEING CHANGED TO AN INLINE SEARCH</strong><br>
    <%= assessment_form.label :assessee_id, style: "display: block" %>
    <%= collection_select(:assessment, :assessee_id, Contact.all.order(:first_name), :id, :display_name, include_blank: true) %>
  </div>

  <div>
    <br><strong>THIS IS BEING CHANGED TO AN INLINE SEARCH</strong><br>
    <%= assessment_form.label :assessor_id, style: "display: block" %>
    <%= collection_select(:assessment, :assessor_id, Contact.all.order(:first_name), :id, :display_name, include_blank: true) %>
  </div>

  <div>
   <%= fields_for :note, @assessment.note do |note_form| %>
     <%= note_form.label :note, style: "display: block" %>
     <%= note_form.text_area :body %>
   <% end %>
  </div>

  <div>
    <%= assessment_form.submit %>
  </div>
<% end %>
