<p style="color: green"><%= notice %></p>

<h1>Assessments</h1>
<%= link_to "New assessment", new_assessment_path %>
<br />
<br />

  <table class="table table-striped">
    <tr><th>Assessed On</th><th>Assessee</th><th>Assessment</th><th>Assessor</th><th></th></tr>
<div id="assessments">
  <% @assessments.each do |assessment| %>
    <tr>
    <td><%= assessment.assessed_on %></td>
    <td><%= link_to assessment.assessee.first_name, contact_path(id: assessment.assessee_id) %> <%= link_to assessment.assessee.last_name, contact_path(id: assessment.assessee_id) %></td>
    <td><%= assessment.assessment_level.level %></td>
    <td><%= link_to assessment.assessor.first_name, contact_path(id: assessment.assessor_id) %> <%= link_to assessment.assessor.last_name, contact_path(id: assessment.assessor_id) %></td>
    <td><%= link_to "Edit", edit_assessment_path(assessment.id) %></td>
    </tr>

</div>
  <% end %>
</div>
  </table>
