<p style="color: green"><%= notice %></p>

<%= render @assessment %>

<div>
  <%= link_to "Edit this assessment", edit_assessment_path(@assessment) %> |
  <%= link_to "Back to assessments", assessments_path %>

  <%= button_to "Destroy this assessment", @assessment, method: :delete %>
</div>
