<div id="<%= dom_id applicant %>">
  <p>
    <strong>First name:</strong>
    <%= link_to applicant.first_name, applicant %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= applicant.last_name %>
  </p>

  <p>
    <strong>Pronouns:</strong>
    <%= applicant.pronouns %>
  </p>

  <p>
    <strong>Preferred Language:</strong>
    <%= applicant.preferred_language %>
  </p>

  <p>
    <strong>Personal email address:</strong>
    <%= applicant.personal_email_address %>
  </p>

  <p>
    <strong>Personal cell phone:</strong>
    <%= applicant.personal_cell_phone %>
  </p>

  <p>
    <strong>Work username:</strong>
    <%= applicant.work_username %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= applicant.job_title %>
  </p>

  <p>
    <strong>Job level:</strong>
    <%= applicant.job_level %>
  </p>

  <p>
    <strong>Work location code:</strong>
    <%= applicant.work_location_code %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= applicant.note %>
  </p>

</div>
