<%= form_with(model: applicant) do |form| %>
  <% if applicant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
        <% applicant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name, class: "label" %>
  <div class="control">
    <%= form.text_field :first_name, autofocus: true, placeholder: "First Name", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :last_name, class: "label" %>
  <div class="control">
    <%= form.text_field :last_name, placeholder: "Last Name", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :pronouns, class: "label" %>
  <div class="control">
    <%= form.text_field :pronouns, placeholder: "Pronouns", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :preferred_language, class: "label" %>
  <div class="control">
    <%= form.text_field :preferred_language, placeholder: "Preferred Language", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :personal_email, class: "label" %>
  <div class="control">
    <%= form.email_field :personal_email, placeholder: "Personal Email", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :personal_phone, class: "label" %>
  <div class="control">
    <%= form.text_field :personal_phone, placeholder: "Personal Phone Number", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :work_email, class: "label" %>
  <div class="control">
    <%= form.text_field :work_email, placeholder: "Work Email", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :job_title, class: "label" %>
  <div class="control">
    <%= form.text_field :job_title, placeholder: "Job Title", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :job_level, class: "label" %>
  <div class="control">
    <%= form.text_field :job_level, placeholder: "Job Level", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :work_location_code, class: "label" %>
  <div class="control">
    <%= form.text_field :work_location_code, placeholder: "Work Location Code", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :note, class: "label" %>
  <div class="control">
    <%= form.textarea :note, placeholder: "Note", class: "input" %>
  </div>
  </div>

  <div class="field">
  <div class="control">
    <%= form.submit "Submit", class: "button is-link" %>
  </div>
  </div>
<% end %>
