<p style="color: green"><%= notice %></p>

<% if @existing_contact.present? %><p style="text-align: center;"><span style="background-color: red; font-size: 2em;">CAUTION!</span> <span style="background-color: #ddd; font-size: 2em;">There is a Contact with the same address: <%= link_to @existing_contact.personal_email, @existing_contact %></span> <span style="background-color: red; font-size: 2em">CAUTION!</span></p><% end %>

<%= render @applicant %>

<div>
  <%= link_to "Edit this applicant", edit_applicant_path(@applicant) %> |
  <%= link_to "Back to applicants", applicants_path %>

  <%= button_to "Destroy this applicant", @applicant, method: :delete %>
</div>
