<div id="<%= dom_id state %>">
  <p>
    <%= link_to state.name, state %>,
    <%= state.usps %>,
    <%= link_to state.country.name, state.country %>
  </p>
  <div>
    <ul>
    <% state.cities.order(:name).each do |city| %>
      <li><%= link_to city.name, city_path(city) %></li>
    <% end %>
    </ul>
  </div>
</div>
