<p style="color: green"><%= notice %></p>

<h1>States</h1>
<%= link_to "New state", new_state_path %>

<div id="states">
  <% @states.each do |state| %>
    <div id="<%= dom_id state %>">
      <p>
        <%= link_to state.name, state %>,
        <%= state.usps %>,
        <%= link_to state.country.name, state.country %>
      </p>
    </div>
  <% end %>
</div>

