<tr>
  <td>
    <%= link_to event.name, event %>
  </td>
  <td>
    <%= link_to event.event_type.name, event %>
  </td>

  <td><% if event.start_datetime %>
    <%= link_to event.start_datetime, event %>
    <% end %>
  </td>

  <td>
  <td><% if event.end_datetime %>
    <%= link_to event.end_datetime, event %>
    <% end %>
  </td>

  <td>
    <% if event.description %>
    <%= link_to event.description, event %>
    <% end %>
  </td>
</tr>
