<tr>
  <td>
    <%= link_to event.name, event %>
  </td>
  <td>
    <%= link_to event.event_type.name, event %>
  </td>

  <td>
    <%= link_to event.start_datetime, event %>
  </td>

  <td>
    <%= link_to event.end_datetime, event %>
  </td>

  <td>
    <%= link_to event.description, event %>
  </td>

</tr>
