<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Start datetime:</strong>
    <%= event.start_datetime %>
  </p>

  <p>
    <strong>End datetime:</strong>
    <%= event.end_datetime %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= event.event_type_id %>
  </p>

</div>
