<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :start_datetime, style: "display: block" %>
    <%= form.datetime_field :start_datetime %>
  </div>

  <div>
    <%= form.label :end_datetime, style: "display: block" %>
    <%= form.datetime_field :end_datetime %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :event_type_id, style: "display: block" %>
    <%= collection_select(:event, :event_type_id, EventType.all.order(:name), :id, :name, include_blank: true) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
