<div id="<%= dom_id contact %>">
<tr>
  <td>
    <%= contact.first_name %>
  </td>

  <td>
    <%= contact.last_name %>
  </td>

  <td>
    <%= contact.pronouns %>
  </td>

  <td>
    <%= contact.mobile_phone %>
  </td>

  <td>
    <%= contact.personal_email %>
  </td>
</tr>
</div>
