<p><b>First Name:</b> <%= contact.first_name %></p>
<p><b>Last Name:</b> <%= contact.last_name %></p>
<% unless contact.pronouns.blank? %><p><b>Pronouns:</b> <%= contact.pronouns %></p><% end %>
<% unless contact.mobile_phone.blank? %><p><b>Cell Phone:</b> <%= contact.mobile_phone %></p><% end %>
<% unless contact.personal_email.blank? %><p><b>Personal Email:</b> <%= contact.personal_email %></p><% end %>
<% unless contact.work_username.blank? %><p><b>Work Username:</b> <%= contact.work_username %></p><% end %>
<% unless contact.work_email.blank? %><p><b>Work Email:</b> <%= contact.work_email %></p><% end %>
<% unless contact.assessee_assessments.blank?  %>
  <p><b>Assessment:</b> <%= contact.assessee_assessments.order('assessed_on desc').first.assessment_level.level %> (as of <%= @contact.assessee_assessments.order('assessed_on desc').first.assessed_on %> by <%= @contact.assessee_assessments.order('assessed_on desc').first.assessor.first_name %>)</p>
<% end%>
