<tr>
  <td><% if contact.user %><%= link_to "User Account", contact.user %><% end %></td>
  <td><% if contact.first_name %><%= link_to contact.first_name, contact %><% end %></td>
  <td><% if contact.last_name %><%= link_to contact.last_name, contact %><% end %></td>
  <td><% if contact.pronouns %><%= link_to contact.pronouns, contact %><% end %></td>
  <td><% if contact.personal_phone %><%= link_to contact.personal_phone, contact %><% end %></td>
  <td><% if contact.personal_email %><%= link_to contact.personal_email, contact %><% end %></td>
  <td><% if contact.work_username %><%= link_to contact.work_username, contact %><% end %></td>
  <td><% if contact.work_email %><%= link_to contact.work_email, contact %><% end %></td>
</tr>
