<tr>
  <td><%= link_to contact.first_name, contact %> </td>
  <td><%= link_to contact.last_name, contact %></td>
  <td><%= link_to contact.pronouns, contact %></td>
  <td><%= link_to contact.mobile_phone, contact %></td>
  <td><%= link_to contact.personal_email, contact %></td>
</tr>
