<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name, class: "label" %>
  <div class="control">
    <%= form.text_field :first_name, autofocus: true, placeholder: "First Name", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :last_name, class: "label" %>
  <div class="control">
    <%= form.text_field :last_name, placeholder: "Last Name", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :pronouns, class: "label" %>
  <div class="control">
    <%= form.text_field :pronouns, placeholder: "Pronouns", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :personal_phone, class: "label" %>
  <div class="control">
    <%= form.text_field :personal_phone, placeholder: "Personal Phone", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :personal_email, class: "label" %>
  <div class="control">
    <%= form.text_field :personal_email, placeholder: "Personal Email", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :work_username, class: "label" %>
  <div class="control">
    <%= form.text_field :work_username, placeholder: "Work Username", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :work_email, class: "label" %>
  <div class="control">
    <%= form.text_field :work_email, placeholder: "Work Email", class: "input" %>
  </div>
  </div>

  <div class="field">
  <div class="control">
    <%= form.submit "Create New Contact", class: "button is-link" %>
  </div>
  </div>
<% end %>
