<% if Applicant.count >= 1 %><h2><%= link_to Applicant.count.to_s + " New Applicants To Review", applicants_path %></h2><% end %>

<% ec = Event.where("start_datetime >= ?", Date.current).count %>

<h2><%= link_to "#{ec} Upcoming Events", events_path %></h2>
<table class="table">
<caption>Maximum 5 Shown</caption>
<tr><th>Event Title</th><th>Date/Time</th><th>Description</th></tr>
<% Event.where("start_datetime >= ?", Date.current).order(:start_datetime)[0,5].each do |event| %>
<tr><td><%= link_to event.name, event %></td><td><%= event.start_datetime %></td><td><%= event.description %></td></tr>
<% end %>
</table>

<h2>My Tasks (coming soon)</h2>

<h2>Messages (coming soon)</h2>

<h2>Current Stats</h2>
<ul>
  <li><%= link_to pluralize(Contact.count, "Contact"), contacts_path %></li>
  <% if @assessments.present? %>
  <li>Current Assessment Levels
    <ul>
    <% @assessments.each do |a| %>
      <li>Level: <%= a["level"] %> Count: <%= a["count"] %></li>
    <% end %>
    </ul>
  </li>
  <% else %>
  <li>There Are No <%= link_to "Assessments", assessments_path %></li>
  <% end %>
  <li><%= link_to pluralize(Note.count, "Note"), notes_path %></li>
  <li>(Soon) Longest span without member communication: XXX</li>
  <li>(Soon) XXX members gained in the last 30 days</li>
  <li>(Soon) XXX members lost in the last 30 days</li>
  <li>Something</li>
  <li>Something Else</li>
  <li>Another Thing</li>
</ul>
