<%= form_with(model: social_media_type) do |form| %>
  <% if social_media_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(social_media_type.errors.count, "error") %> prohibited this social_media_type from being saved:</h2>

      <ul>
        <% social_media_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
  <div class="control">
    <%= form.text_field :name, autofocus: true, placeholder: "Name", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :homepage, class: "label" %>
  <div class="control">
    <%= form.text_field :homepage, placeholder: "Homepage", class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
  <div class="control">
    <%= form.textarea :description, placeholder: "Description", class: "input" %>
  </div>
  </div>

  <div class="field">
  <div class="control">
    <%= form.submit "Submit", class: "button is-link" %>
  </div>
  </div>
<% end %>
