<p style="color: green"><%= notice %></p>

<%= render @event_type %>

<div>
  <%= link_to "Edit this event type", edit_event_type_path(@event_type) %> |
  <%= link_to "Back to event types", event_types_path %>

  <%= button_to "Destroy this event type", @event_type, method: :delete %>
</div>
