<div id="<%= dom_id country %>">
  <p>
    <strong>Name:</strong>
    <%= country.name %>
  </p>

  <p>
    <strong>Alpha2:</strong>
    <%= country.alpha2 %>
  </p>

  <p>
    <strong>Alpha3:</strong>
    <%= country.alpha3 %>
  </p>

  <p>
    <strong>Numeric:</strong>
    <%= country.numeric %>
  </p>

  <p>States</p>
<ul>
  <% country.states.order(:name).each do |state| %>
    <li><%= link_to state.name, state_path(state) %></li>
  <% end %>
</ul>
</div>
