<%= form_with(model: country) do |form| %>
  <% if country.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
        <% country.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
  <div class="control">
    <%= form.text_field :name, class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :alpha2, class: "label" %>
  <div class="control">
    <%= form.text_field :alpha2, class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :alpha3, class: "label" %>
  <div class="control">
    <%= form.text_field :alpha3, class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :numeric, class: "label" %>
  <div class="control">
    <%= form.text_field :numeric, class: "input" %>
  </div>
  </div>

  <div class="field">
  <div class="control">
    <%= form.submit "Submit", class: "button is-link" %>
  </div>
  </div>
<% end %>
