<h1>Assessment Levels to Date</h1>
<%= form_with url:"/reports/assessment_levels_to_date", method: :get do |form| %>
Target Date: <%= form.date_field :target_date, required: true %>
<%= form.submit 'Search' %>
<% end %>

<% if @assessments.present? %>
  <% @assessments.each do |a| %>
    Level: <%= a["level"] %> Count: <%= a["count"] %>
    <br>
  <% end %>
<% else %>
  <p>No Assessments for the Target Date</p>
<% end %>
