<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code, class: "label" %>
  <div class="control">
    <%= form.text_field :code, class: "input" %>
  </div>
  </div>

  <div>
  <div class="field">
    <%= form.label :name, class: "label" %>
  <div class="control">
    <%= form.text_field :name, class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
  <div class="control">
    <%= form.text_area :description, class: "input" %>
  </div>
  </div>

<!-- FIXME: need to list cities based on the selected State -->
  <div class="field">
    <%= form.label :city_id, class: "label" %>
  <div class="control">
    <%= form.text_field :city_id, class: "input" %>
  </div>
  </div>

  <div class="field">
    <%= form.label :state_id, class: "label" %>
  <div class="control">
  <div class="select">
    <%= collection_select(:form, :state_id, State.all.order(:name), :id, :name, {include_blank: true}, {}) %>
  </div>
  </div>
  </div>

  <div class="field">
    <%= form.label :country_id, class: "label" %>
  <div class="control">
  <div class="select">
    <%= collection_select(:form, :country_id, Country.all.order(:name), :id, :name, {include_blank: true}, {}) %>
  </div>
  </div>
  </div>

  <div class="field">
  <div class="control">
    <%= form.submit "Submit", class: "button is-link" %>
  </div>
  </div>
<% end %>
