<footer class="footer">
  <div class="content has-text-centered">
  <p class="slogan">Solidarity With Fellow Workers!</p>
  <p>
    <%= link_to "About", about_path %>
    : <%= link_to "FAQ", faq_path %>
    : <%= link_to "Guide", guide_path %>
    : <%= link_to "Changelog", changelog_path %>
    : <%= link_to "Terms", terms_path %>
    : <%= link_to "Privacy", privacy_path %>
    : <%= link_to "Source Code", 'https://github.com/WorkersWin/Engage', target: "_blank" %>
    : <%= link_to "License", license_path %>
  </p>
  <p class="builtby"><%= link_to('https://github.com/smhauck', target: '_blank') do %>&copy; & Built by Shannon<% end %></p>

  </div>
</footer>
