<footer>
  <div class="container-fluid">
    <p>
      <%= link_to "About", about_path %>
      : <%= link_to "FAQ", faq_path %>
      : <%= link_to "Tech Stuff", tech_path %>
      : <%= link_to "Changelog", changelog_path %>
      : <%= link_to "Terms", terms_path %>
      : <%= link_to "Privacy", privacy_path %>
      : <%= link_to "Source Code", 'https://github.com/WorkersWin/Engage', target: "_blank" %> & <%= link_to "License", license_path %>
    </p>
    <p><span class="copyright">&copy; 2025 <%= link_to "Shannon M. Hauck", "https://github.com/smhauck" %></span> <span class="slogan">Solidarity With Fellow Workers!</span> <span class="builtby">Built by Shannon</span></p>
  </div>
</footer>
