<footer>
  <div class="container-fluid">
    <p>
      <%= link_to "About", about_path %>
      : <%= link_to "FAQ", faq_path %>
      : <%= link_to "Tech Stuff", tech_path %>
      : <%= link_to "Changelog", changelog_path %>
      : <%= link_to "Terms", terms_path %>
      : <%= link_to "Privacy", privacy_path %>
      : <%= link_to "Source Code", 'https://github.com/WorkersWin/Engage', target: "_blank" %> & <%= link_to "License", license_path %>
    </p>
    <p><span class="slogan">Solidarity With Fellow Workers!</span> <span class="builtby">Built by <%= link_to 'Shannon', 'https://www.dvrsly.com/u/shannon' %></span></p>
  </div>
</footer>
