<% if authenticated? %>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
    <%= link_to image_tag("engage_logo.svg", alt: "Engage Logo"), dashboards_index_url, class: "navbar-item" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Dashboard", dashboards_index_path, class: "navbar-item" %>
      <%= link_to "Contacts", contacts_path, class: "navbar-item" %>
      <%= link_to "Applicants", applicants_path, class: "navbar-item" %>
      <%= link_to "Assessments", assessments_path, class: "navbar-item" %>
      <%= link_to "Notes", notes_path, class: "navbar-item" %>
      <%= link_to "Events", events_path, class: "navbar-item" %>
      <%= link_to "Trainings", trainings_path, class: "navbar-item" %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Reports</a>
        <div class="navbar-dropdown">
          <%= link_to "Current Assessment Levels", reports_current_assessment_levels_url, class: "navbar-item" %>
          <%= link_to "Assessment Levels to Date", reports_assessment_levels_to_date_url, class: "navbar-item" %>
          <%= link_to "Assessments by Levels by Week (Soon)", root_url, class: "navbar-item" %>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Admin</a>
        <div class="navbar-dropdown">
          <%= link_to "Assessment Levels", assessment_levels_url, class: "navbar-item" %>
          <%= link_to "Cities", cities_url, class: "navbar-item" %>
          <%= link_to "Countries", countries_url, class: "navbar-item" %>
          <%= link_to "Event Types", event_types_url, class: "navbar-item" %>
          <%= link_to "Job Levels", job_levels_url, class: "navbar-item" %>
          <%= link_to "Job Titles", job_titles_url, class: "navbar-item" %>
          <%= link_to "Locations", locations_url, class: "navbar-item" %>
          <%= link_to "Organizations", organizations_url, class: "navbar-item" %>
          <%= link_to "Social Media Types", social_media_types_url, class: "navbar-item" %>
          <%= link_to "States", states_url, class: "navbar-item" %></li>
          <hr class="navbar-divider">
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">My Account</a>
        <div class="navbar-dropdown">
          <%= link_to "Profile (Coming Soon)", dashboards_index_url, class: "navbar-item" %>
          <%= link_to "Change Password", edit_password_url(Current.user.password_reset_token), class: "navbar-item" %>
          <%= button_to "Sign Out", session_path, method: :delete, class: "navbar-item" %>
        </div>
      </div>
    </div>
  </div>
</nav>
<% else %>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
    <%= link_to image_tag("engage_logo.svg"), dashboards_index_url, class: "navbar-item" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Sign In", new_session_path, class: "navbar-item" %>
      <%= link_to "Join Us!", new_applicant_path, class: "navbar-item" %>
    </div>
  </div>
</nav>
<% end %>
