<!DOCTYPE html>
<html>
  <head>
    <title>Engage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <%= render 'shared/navbar' %>
    </header>
    <div class="container-fluid">
      <% if notice %><p class="notice"><%= notice %></p><% end %>
      <% if alert %><p class="alert"><%= alert %></p><% end %>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
