<!DOCTYPE html>
<html>
<!-- Workers.Win Engage -->
  <head>
    <title><%= content_for(:title) || "Engage" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <!-- FIXME: this is wonky. Only works until you click another link then have to reload the page to get it to work again. -->
    <script>
    document.addEventListener('DOMContentLoaded', () => {
    
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    
      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
    
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
    
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
    
        });
      });
    
    });
    </script>
    <div class="container is-fluid">
    <header>
      <%= render 'layouts/navbar' %>
    </header>
      <% if notice %><p class="notice"><%= notice %></p><% end %>
      <% if alert %><p class="alert"><%= alert %></p><% end %>
      <div class="content">
      <h1 style="background-color: orange; color: #000; font-size: 2em; text-align: center">NOT FOR PRODUCTION USE! NO REAL DATA!</h1>
      <%= yield %>
      <h1 style="background-color: orange; color: #000; font-size: 2em; text-align: center">NOT FOR PRODUCTION USE! NO REAL DATA!</h1>
      </div>
    <%= render "layouts/footer" %>
  </body>
</html>
