<!DOCTYPE html>
<html>
  <head>
    <title>Engage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <div class="container-fluid">
      <% if notice %><p class="notice"><%= notice %></p><% end %>
      <% if alert %><p class="alert"><%= alert %></p><% end %>
    </div>
    <div class="container-fluid">
      <h1 style="background-color: #f99; text-align: center">NOT FOR PRODUCTION USE! NO REAL DATA!</h1>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
